<div class="row">
    <footer>
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
           
            <a href="https://goo.gl/maps/5hf1uVZ8cp7QtmUr5"> <img src="../../../assets/media/maps-and-flags.png"></a>
            <p>Zavaleta 204</p>
            <p>Parque Patricios</p>
            <a href=""> <img src="../../../assets/media/email-envelope.png"></a>
            <p>ifts11@gmail.com</p>
            <a href=""> <img src="../../../assets/media/telephone.png"></a>
            <p>011 4912-3792</p>
            <a href=""> <img src="../../../assets/media/clock.png"></a>   
            <p>Lunes a Viernes 18:00 a 22:00 hrs</p>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: #009F3B;">
          © 2022 Copyright: IFTS11
         
        </div>
        <!-- Copyright -->
      </footer>
</div>