<div>
    <h1>Mis Prestamos</h1>

    <div class="container">
        <h2>Filtrar por:</h2>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Estado
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <input class="form-control" id="myInput" type="text" placeholder="Search..">
            <li><a href="#">Finalizado</a></li>
            <li><a href="#">En Curso</a></li>
            <li><a href="#">En espera</a></li>
          </ul>
        </div>
      </div>
      
    
   
</div>